@import "base";

%button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0 0.3rem 0.2rem #333;
  transition: all 0.25s;
}

@mixin title($val) {
  text-align: center;
  font-size: $val;
}

.weather {
  &-app-title {
    @include title(2.5rem);
  }

  &-description {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &-temp,
  &-humidity {
    font-size: 1.5rem;
  }
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  width: 20rem;
  padding: 1rem;
  margin-right: 1rem;
}

.btn {
  @extend %button;
  &:active {
    transform: translateY(0.1rem);
    box-shadow: none;
  }
}

.submit {
  background-color: #b2bec3;
  &:hover {
    background-color: #636e72;
  }
}

.celsius {
  background-color: $colorCelsius;
  margin-right: 1.5rem;
  &:hover {
    background-color: $colorCelsiusHover;
  }
}

.fahrenheit {
  background-color: $colorFahrenheit;
  &:hover {
    background-color: $colorFahrenheitHover;
  }
}

.error {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  padding: 2rem;
  background-color: $colorError;
  border-radius: 1rem;
  display: none;
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  flex: 1;

  @media only screen and (max-width: 30em) {
    justify-content: center;
    height: 25rem;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  &--center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 40em) {
    flex-direction: column;
    align-items: center;
    order: 1;
  }
}

.spinner {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border-top: $colorFahrenheit solid 2px;
  border-bottom: $colorCelsius solid 2px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  margin-top: 2rem;
  display: none;
}

// Needs to be declared after container class since overiding display initally
.hidden-js {
  display: none;
}

.submit-js {
  transform: translateY(0.1rem);
  box-shadow: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
