$colorCelsius: #30a9de;
$colorCelsiusHover: #0097e6;
$colorFahrenheit: #e53a40;
$colorFahrenheitHover: #c23616;

*::before,
*::after,
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

%button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  outline: none;
}

@mixin title($val) {
  text-align: center;
  font-size: $val;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfe6e9;
  display: flex;
  flex-direction: column;
}

.weather {
  &-app-title {
    @include title(2.5rem);
  }

  &-description {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &-temp,
  &-humidity {
    font-size: 1.5rem;
  }
}

#form {
  display: flex;
  justify-content: center;
}

#input {
  width: 20rem;
  padding: 1rem;
  margin-right: 1rem;
}

.btn {
  @extend %button;
  background-color: #b2bec3;
  &:hover {
    background-color: #636e72;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  &--center {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  @media only screen and (max-width: 35rem) {
    flex-direction: column;
    align-items: center;
    order: 1;
  }
}

.celsius {
  @extend %button;
  background-color: $colorCelsius;
  margin-right: 1.5rem;
  &:hover {
    background-color: $colorCelsiusHover;
  }
}

.fahrenheit {
  @extend %button;
  background-color: $colorFahrenheit;
  &:hover {
    background-color: $colorFahrenheitHover;
  }
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  flex: 1;
  // border: 1px solid red;

  @media only screen and (max-width: 35rem) {
    justify-content: center;
    height: 25rem;
  }
}
