*::before,
*::after,
* {
  border: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.8s;
  // background-color: #dfe6e9;
  background-color: lighten(orangered, 30); // #ffb599
  // background-color: lighten(dodgerblue, 30); // #b7dbff
  display: flex;
  flex-direction: column;
}
