.spinner {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border-top: $colorFahrenheit solid 2px;
  border-bottom: $colorCelsius solid 2px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
  margin-top: 2rem;
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
